.ujcardparent {
  background-color: "#333";
  overflow: "auto";
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
}

.ujcardchild {
  color: white;
  padding: 14px;
  background: #272727;
  margin: 10px 0 0 30px;
  width: 500px;
  height: 200px;
  border-radius: 10px;
}

.hoverBorder:hover {
  border: 2px solid #54acf0;
}

.textcolorblue {
  color: #54acf0;
}

.titleofujcard {
  position: relative;
}

.logoforupcjob {
  position: absolute;
  right: 0px;
  top: -5px;
  width: 30px;
}

.hrinujcard {
  background: white;
  width: 500px;
  margin-left: -14px;
  margin-top: 4px;
}

.propsAddress {
  margin-top: -16px;
  margin-bottom: 6px;
  font-size: 16px;
  color: gray;
}

.btntype {
  border: 2px solid #54acf0;
  max-width: 140px;
  margin-top: 10px;
  border-radius: 6px;
  padding: 0 0 0 10px;
  font-size: 18px;
  cursor: pointer;
}
