.notification {
  width: 50%;
  margin-left: 35%;
}

.notificationParent {
  position: relative;
  width: 80vw;
  top: -2vw;
}

.notificationChild {
  left: 3%;
  margin-bottom: -30px;
}
.card {
  z-index: 1;
}

.clicktoopen {
  cursor: pointer;
  width: 180px;
}

.timestamp {
  position: absolute;
  right: 3vw;
  top: 15px;
}

.card-title {
  color: white;
}

.rounddiv {
  position: relative;
  top: 50%;
  left: 1%;
  transform: translate(0%, -8%);

  background: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 1;
}
.rounddivchild {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blueviolet;
  font-weight: 700;
  font-size: 22px;
}

/* .bellIcon {
  z-index: 1;
  background: red;
  color: yellow;
} */
