.event-due-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85%;
    width: 90%;
    margin: 1.3em auto;
}

.duration, .start-date, .end-date, .assistance, .address{
    display: flex;
    justify-content: space-evenly;
}

.assistance .checks p{
    font-size: .8rem;
}